body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color:#33cccc;
    flex-direction: column;
    position: relative;
       
}

.game-intro {
    background-size: 50%;
    
}

#start-button {
    font-size: 15px;
    background-color: blue;
    color: black;
    border: 3px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 60px;
    color: white;
    box-shadow: -2px 18px 14px 0px rgba(0, 0, 0, 0.59);
   
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: transparent;
    width: 500px;
    border-radius: 10px;
    /* box-shadow: -2px 21px 30px 0px rgba(255, 255, 255, 0.46); */
}


.space-bar {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

p {
    color: white;
    font-family: arial;
    margin-top: 50px;
}

canvas {
    border: 5px solid white;
    display: block; 
    
}
